*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    position:static;
  }

.sub-head{
    height:80px;
    background-color: #FFF5F1;
    color: #2F2C23;
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 150px 150px 150px;
}

.sh-item{
    padding: 5%;
    color: #2F2C23;
    text-decoration: underline #ff8b7a;
}

.header{
    height: 880px;
    background-color: #fff5f1;
    color:#2F2C23;
    display:flex;
    flex-direction: column;
    align-items: center;
    min-width: 320;
}

.header-1{
    display: flex;
}

.OS-main{
    height: 680px;
    background-color: #ffffff;
    color: #2F2C23;
    display: flex;
    flex-direction: column;
}

.OS-title{
    align-self: center;
    padding-top: 150px;
}

.main{
    display:flex;
    justify-content: space-evenly;
    padding:5%;
}

.TB-main{
    width:300px;
    height:400px;
}
.title-text{
    text-align: center;
    border-radius: 5px;
    text-decoration: underline #ff8b7a;
}

.under-over-line{
    text-decoration: underline overline #ff8b7a;
}

.extra{
    height:200px;
    background-color: #FFF5F1;
    display: flex;
    align-items: center;
    padding: 3%;
}

.g-serif{
    font-family: georgia, serif;
}

.serif{
    font-family: serif;
}

